html{
  background: lighten(lightgray, 15);
}
.header {
  height: 50px;
  background: lightgray;
  box-shadow: 3px 0px 7px gray;
  padding: 0 2em;
}
.header__wrapper {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.header__header {
  text-align: center;
  display: inline;
  font-size: 20px;
  color: white;
  margin-right: 2em;
}

.header__link {
  text-decoration: none;
  margin: 0 0.5em;
  color: white;
  background: darken(lightgray, 10);
  padding: 0.5em 0.75em;
  transition: border-bottom 0.25s;
  position: relative;
  &::after {
    width: 0%;
    content: '';
    height: 4px;
    position: absolute;
    background: darken(lightgray, 10);
    bottom: 0;
    z-index: 100;
    left: 0;
  }

  &.active {
    &::after {
      transition: all 0.35s;
      width: 100%;
      content: '';
      height: 4px;
      background: white;
      position: absolute;
      bottom: 0;
      left: 0%;
      z-index: 100;
      transform: translateX(0%);
    }
  }

  &:hover {
    background: darken(lightgray, 19);
  }
}
